process {
	executor = 'slurm'
    withLabel: small_cpus {
	    cpus = 4
        maxForks = 1
    }
    withLabel: small_mem {
	    memory = 10.Gb
    }
    withLabel: big_cpus {
	    cpus = 10
	    maxForks = 1
    }
    withLabel: big_mem {
	    memory = 32.Gb
    }
    withName: Mapping_pr {
	    cpus = 10
	    maxForks = 1
    }
}
